.card_wrapper {
    cursor: pointer;
    border: 2px solid #eee;
    margin: 10px;
    width: 200px;
    display: flex;
    flex-flow: column;
    align-content: center;
    img {
        width: 200px;
        margin: auto;
    }

    .card_header {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #eee;
        background-color: #efe;
    }
}