.card_wrapper {
    box-sizing:border-box;
    cursor: pointer;
    border: 2px solid #eee;
    width: 200px;
    display: flex;
    flex-flow: column;
    align-content: center;
    border: 1px solid #000;
    img {
        width: 200px;
        margin: auto;
    }

    .card_header {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #eee;
        background-color: #eee;
        padding: 0.25em;
        box-shadow: 1px 2px 1px -1px #ccc;
        text-decoration: none;

        a {
            color: black;
            text-decoration: none;
        }
    }
}


@media screen and (max-width: 600px) {
    .card_header {
        h3 {
            font-size: 0.9em;
        }
    }
}