

* {
    margin: 0;
    box-sizing: border-box;
}

.PokeViewContainer {
    display: flex;
    flex-flow: column;
    background-color: #eee;
    position: relative;

}

.PokeName {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;
    background-color: #fff;

}

.PokeName h1 {
    text-transform: capitalize;
}

.PokeImage {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.PokeImage img {
    height: 240px;
    width: 240px;
}

.Stats {
margin: 0;
display: flex;
flex-flow: column;
}

.Stats h3 {
    background-color: #efe;
    color: black;
    text-align: center;
    padding: 1em;
}

.BaseStats {
    padding: .25em;
    background-color: #fff;
}
