.HeaderNav {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

.Nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
}

.Nav a {
    text-decoration: none;
    color: black;
    margin-right: 1em;
}

.Nav ul li a:active,
.Nav ul li a:hover {
    background-color: #ccc;
}

.Nav ul li a {
    cursor: pointer;
    height: 100%;
}

