.DetailWrapper {
    margin: 100px 1em;
    display: grid;
}


.SectionHeader {
    display: flex;
    padding: 1em;
    background-color: #eee;
}
.PokeName {
   
    flex-flow: row nowrap;
    justify-content: space-between;
    
    /* box-shadow: 1px 2px 1px  #ccc; */

}

.PokeName h1 {
    text-transform: capitalize;
}

.PokeImage {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.PokeImage img {
    height: 240px;
    width: 240px;
}

.Stats {
margin: 0;
display: flex;
flex-flow: column;
}

.StatsHeader {
    display: flex;
    background-color: #eee;
    color: black;
    text-align: left;
    padding: 1em;
}

.BaseStats {
    padding: .25em;
    background-color: #fff;
}

.TypesArea {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}
.TypesArea p {
    text-transform: capitalize;
    width: 5em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0.75em;
}

.Grass {
    background-color: #7AC74C;
    color: white;
}

.Poison {
    background-color: #A33EA1;
    color: white;
}

.Normal {
    background-color: #A8a77a;
    color: white;
}

.Fire {
    background-color: #ee8130;
    color: white;
}

.Water {
    background-color: #6390f0;
    color: white;
}

.Electric {
    background-color: #f7d02c;
    color: black;
}

.Ice {
    background-color: #96d9d6;
    color: white;
}

.Fighting {
    background-color: #c22e28;
    color: white;
}

.Ground {
    background-color: #e2bf65;
    color: white;
}

.Flying {
    background-color: #a98ff3;
    color: white;
}

.Psychic {
    background-color: #f95587;
    color: white;
}

.Bug {
    background-color: #a6b91a;
    color: white;
}

.Rock {
    background-color: #b6a136;
    color: white;
}

.Ghost {
    background-color: #735797;
    color: white;
}

.Dragon {
    background-color: #6f35fc;
    color: white;
}

.Dark {
    background-color: #705746;
    color: white;
}

.Steel {
    background-color: #b7b7ce;
    color: white;
}

.Fairy {
    background-color: #d685ad;
    color: white;
}